* {
    margin: 0;
    padding: 0;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

/* content */

main {
    width: 40%;
    margin: 0 auto;
}

.content {
    
}

.heading {
    text-align: center;
}

.start-button-area {
    display: flex;
    justify-content: center;
}

.score-entry {
    display: none;
}

.buttons-area {

}

ul {
    list-style: none;
}